.buy-orders-page {
  text-align: left;
  width: 80%;
}

@media (max-width: 800px) {
  .buy-orders-page {
    width: 95%;
  }
}

.buy-orders-content {
  text-align: center;
}

.buy-orders-content {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}

.buy-orders-content table {
  border: 1px white solid;
  padding: 10px;
}

.buy-orders-content th, .buy-orders-content td {
  padding: 5px;
}