.market-page {
  text-align: left;
  width: 80%;
}

@media (max-width: 800px) {
  .market-page {
    width: 95%;
  }
}

.market-content {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}

.market-content table {
  border: 1px white solid;
  padding: 10px;
}

.market-content th, .market-content td {
  padding: 5px;
}

.market-contract-selection {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}

#market-contract-address {
  width: 350px;
  padding: 10px;
}

#market-offer-value {
  width: 80px;
  padding: 10px;
}

