body {
  background-color: #282c34;
}

a, a:visited {
  color: #61dafb;
}

a:hover {
  color: white;
}

.content {
  color: white;
  padding: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
